body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

header {
    background: rebeccapurple;
    color: white;
    padding: 20px 0;
    text-align: center;
}

marquee h2 {
    margin: 0;
    color:blanchedalmond;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background: rebeccapurple;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.project {
    border: 1px solid lightgrey;
    padding: 15px;
    margin-bottom: 20px;
    background: wheat;
}

footer {
    background: LIGHTblue;
    color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Styles pour le formulaire de contact */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background-color:goldenrod;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: burlywood;
}
